﻿@using System.Web.UI.WebControls
<form id="idForm" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="txtCostName">
            <span class="glyphicon glyphicon-barcode"></span> Cost Name:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtCostName" placeholder="Enter cost name">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="ddlCostKind">
            <span class="glyphicon glyphicon-barcode"></span> Cost kind:
        </label>
        <div class="col-sm-10">
            <select id="ddlCostKind" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="txtCostPrice">
            <span class="glyphicon glyphicon-euro"></span> Cost Price:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtCostPrice" placeholder="Enter cost price" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="txtCostNotes">
            <span class="glyphicon glyphicon-pencil"></span> Cost Description:
        </label>
        <div class="col-sm-10">
            @Html.TextArea("txtCostNotes", "", 5, 36, new { @class = "form-control", @placeholder = "Enter cost description here" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="txtPayDate">
            <span class="glyphicon glyphicon-calendar"></span> Cost Date:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtPayDate" placeholder="Enter cost date" />
        </div>
    </div>
    <p style="margin-left: 230px"><span><a id="showMore" href="#">Show more</a></span></p>
    <div id="moreDetails" style="display:none;">
        <div class="form-group">
            <label class="control-label col-sm-2">
                <span class="glyphicon glyphicon-calendar"></span> More info:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="More info" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">
                <span class="glyphicon glyphicon-calendar"></span> More info:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="More info" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">
                <span class="glyphicon glyphicon-calendar"></span> More info:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="More info" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">
                <span class="glyphicon glyphicon-calendar"></span> More info:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="More info" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
        </div>
    </div>
</form>
<div id="successInsertData" class="alert alert-success">
    <strong>Success!</strong> Dane zostały zapisane do bazy.
</div>
<div id="errorInsertData" class="alert alert-warning">
    <strong>Error!</strong> Niepowodzenie zapisania do bazy.
</div>

<script type="text/javascript">
    $(function () {
        $.getJSON('/Home/DDLCost', function (result) {
            var ddl = $('#ddlCostKind');
            ddl.empty();
            $(document.createElement('option'))
                    .attr('value', -1)
                    .text("")
                    .appendTo(ddl);
            $(result).each(function () {
                $(document.createElement('option'))
                    .attr('value', this.Id)
                    .text(this.Value)
                    .appendTo(ddl);
            });
        });
    });
    $('#showMore').click(function () {
        $('#moreDetails').slideToggle("slow");
    });
    $('#txtPayDate').datepicker({ dateFormat: 'dd.mm.yy' });
    $("#successInsertData").addClass("hidden");
    $("#errorInsertData").addClass("hidden");
    $("#idForm").submit(function () {
        var CostName = $('#txtCostName').val();
        var CostPrice = $('#txtCostPrice').val();
        var CostNotes = $('#txtCostNotes').val();
        var PayDate = $('#txtPayDate').val();
        var CostKind = $('#ddlCostKind').val();
        $.ajax({
            type: "POST",
            url: '/Home/InsertCost',
            data: {
                CostKind: CostKind,
                CostName: CostName,
                CostPrice: CostPrice,
                CostNotes: CostNotes,
                PayDate: PayDate,
                Id: null
            },
            success: function () {
                $("#successInsertData").removeClass("hidden");
            },
            error: function () {
                $("#errorInsertData").removeClass("hidden");
            }
        }).done(function () {
            $("#successInsertData").removeClass("hidden");
        }).fail(function () {
            $("#errorInsertData").removeClass("hidden");
        });
    });
</script>
