﻿<div>
    <div class="row">
        <div class="col-sm-6">
            <div id="pieChart_div"></div>
        </div>
        <div class="col-sm-6">
            <div id="pieChart_3d"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-*-*">
            <div id="areaChart_div"></div>
        </div>
    </div>
</div>
<div id="loadingImages" style="display: none">
    <img src="~/Images/ajax-spinner.gif" />
</div>
<script>
    var chartData;
    google.load("visualization", "1", { packages: ["corechart"] });

    $('#displayCharts').click(function () {
        $("#loadingImages").show();
        $.ajax({
            url: '/Home/GetCostDataForChartPie',
            data: "",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                chartData = data;
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {
            google.setOnLoadCallback(drawPieChart);
            drawPieChart();
            google.setOnLoadCallback(drawPieChart);
            drawPieChart3d();
            $("#loadingImages").hide();
        });

        $.ajax({
            url: '/Home/GetCostDataForAreaChart',
            data: "",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                chartData = data;
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {
            google.setOnLoadCallback(drawAreaChart);
            drawAreaChart();
        });
    });

    function drawAreaChart() {
        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
            title: 'Monthly costs',
            hAxis: { title: 'Year', titleTextStyle: { color: '#333' } },
            vAxis: { minValue: 0 }
        };
        var areaChart = new google.visualization.AreaChart(document.getElementById('areaChart_div'));
        areaChart.draw(data, options);
    }

    function drawPieChart() {
        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
            title: "Percentage statement of costs",
            pieHole: 0.4
        };
        var pieChart = new google.visualization.PieChart(document.getElementById('pieChart_div'));
        pieChart.draw(data, options);
    }

    function drawPieChart3d() {
        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
            title: "Percentage statement of costs 3d",
            is3D: true
        };
        var pieChart = new google.visualization.PieChart(document.getElementById('pieChart_3d'));
        pieChart.draw(data, options);
    }
</script>