﻿@{
    ViewBag.Title = "My Wallet";
}
<div id="tabs">
    <ul>
        <li><a href="#tabs-1"><span class="glyphicon glyphicon-plus"></span> Add new cost</a></li>
        <li><a href="#tabs-2" id="displayCharts"><span class="glyphicon glyphicon-stats"></span> Display costs char</a></li>
        <li><a href="#tabs-3" id="displayCostsTable"><span class="glyphicon glyphicon-list-alt"></span> Display all costs</a></li>
    </ul>
    <div id="tabs-1">
        @Html.Partial("AddCost")
    </div>
    <div id="tabs-2">
        @Html.Partial("Chart")
    </div>
    <div id="tabs-3">
        @Html.Partial("Table")
    </div>
</div>
<script type="text/javascript">
    $("#tabs").tabs();
</script>