﻿<div id="HiddenDivTable" class="hidden">
    <table id="CostTable" class="table">
        <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Due date</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            @*<th>Id</th>*@
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Due date</th>
        </tr>
        </tfoot>
    </table>
</div>
<div id="loadingImages" style="display: none">
    <img src="~/Images/ajax-spinner.gif" />
</div>

<script type="text/javascript">
    $('#displayCostsTable').click(function () {
        $('#loadingImages').show();
        $.ajax({
            dataType: 'json',
            method: 'GET',
            url: '/Home/GetCosts',
            success: function (data) {
                $('#CostTable').dataTable({
                    order: [ 3, 'asc' ],
                    data: data,
                    columns: [
                        //{ 'data': 'Id' },
                        { 'data': 'CostName' },
                        { 'data': 'CostPrice' },
                        { 'data': 'CostNotes' },
                        {
                            'data': 'PayDate',
                            'render': function (jsonDate) {
                                var date = new Date(parseInt(jsonDate.substr(6)));
                                var month = date.getMonth() + 1;
                                return date.getDate() + "." + month + "." + date.getFullYear();
                            }
                        }
                    ],
                    "bDestroy": true
                });
            },
            error: function (result) {
                alert("Something went wrong");
            }
        });
        $('#loadingImages').show();
        $('#HiddenDivTable').removeClass('hidden');
    });
</script>
